body {
	padding-top: 50px;
}

	/*estilo global y tamaño de img*/
body{
	background: #ccc url(../imagenes/fondo.jpg) no-repeat center center fixed;
	color: #edeef7;
	font-family: 'Open Sans', sans-serif; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background: cover;
	text-align: center;
}

body img{
	width: 100%;
}

@font-face{
	font-family: 'Aller Regular';
	src: url('../fonts/aller.regular.ttf');
}

@font-face{
	font-family: 'Aller Bold';
	src: url('../fonts/aller.bold.ttf');
}

@font-face{
	font-family: 'Aller Light';
	src: url('../fonts/aller.light.ttf');
}

	/*tipografia*/
h1{
	font-family: 'Aller Bold', sans-serif;
	font-size: 3.5em;
}

h2, h3{
	font-family: 'Aller Regular', sans-serif;
}

h2{
	font-size: 3em;
}

h3{
	font-size: 2em;
}

h4, p{
	font-family: 'Aller Light', sans-serif;
	font-size: 1.3em;
}

	/*barra donde se encuentra el menu*/
/*NO SE VE NINGUNA MODIFICACION DE LA BARRA*/
.navbar-inverse {
	background-color: #fff;
	border-bottom-width: medium;
	border-color: #ffc507;
}

.navbar-inverse .navbar-toggle{
	background: #770000;
}

.navbar-inverse .navbar-nav>li>a {
	color: #770000;
}

.navbar-inverse .navbar-nav>li>a:hover{
	color: #ffc507;
	background-color: transparent;
	text-transform: uppercase;
}

	/*icono de redes sociales en la barra*/
.iconos{
	margin-top: -9px;
	bottom: -3px;
}

.navbar-inverse .navbar-nav>.open>a:focus{
	color: #770000;
	background-color: transparent;
}

.navbar-inverse .navbar-nav>.open>a:hover{
	color: #770000;
	background-color: transparent;
}

	/*menu desplegable de redes sociales*/
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a{
	color: #770000;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover{
	color: #ffc505;
}


	/*encabezado*/
/*TAMPOCO HACE EL CAMBIO EN EL BOTON DE COTIZA*/
.btn-default{
	background-color: #770000;
	border-color: transparent;
	color: #fff;
	font-size: 2em;
	margin-top: 15px;
}

.btn-default:hover{
	color: #770000;
}

.texto-cotiza-der{
	margin-top: 20px;
}

	/*imagen*/
#frase-wrapper{
	background-color: rgba(119, 0, 0,0.7);
	margin-top: 75px;
}

	/*nosotros*/
#nosotros-wrapper{
	background: #ccc;
	border-bottom: 10px solid rgba(0, 0, 0, 0.1);
	border-top: 10px solid rgba(0, 0, 0, 0.1);
	color: #770000;
	padding-bottom: 126px;
}

#nosotros-wrapper h2{
	padding-top: 50px;
}

#nosotros-wrapper hr{
	border-top: 1px solid #770000;
	width: 100px;
}

#nosotros-wrapper .container{
	padding-top: 30px;
}

	/*contacto*/
#contacto-wrapper{
	color: #333;
	background: url(../imagenes/contactanos.png) no-repeat center center fixed;
	background-size: 100% 100%;
	margin-bottom: -20px;
	padding-top: 40px;
}

#contacto-wrapper hr{
	border-top: 1px solid #333;
	width: 100px;
}

.datos{
	padding-bottom: 30px;
}

.btn-inverse{
	color: #fff;
	background-color: #770000;
}

.btn-inverse:hover{
	color: #770000;
	background-color: #fff;
}

	/*footer*/
#footer-wrapper{
	background-color: #770000;
	color: #fff;
	text-align: left;
	margin-top: 15px;
	border-top-width: 15px;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-bottom: -20px;
}